/* Estilo da barra lateral */
.sidebar {
  width: 120px; /* Largura da barra lateral */
  height: 100%; /* Altura total */
  position: fixed; /* Fixa a barra lateral na posição */
  top: 0;
  left: 0;
  background-color: #ffffff; /* Cor de fundo da barra lateral */
  padding-top: 20px; /* Espaçamento superior */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* Estilo da segunda barra lateral (direita) */
.sidebar-right {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100px; /* Ajusta a posição para que fique ao lado da primeira sidebar */
  background-color: #f0f0f0;
  padding-top: 20px;
}

/* Estilo da lista de itens de menu */
.sidebar ul {
  list-style-type: none; /* Remove marcadores de lista */
  padding: 0;
}

/* Estilo dos itens de menu */
.sidebar ul li {
  padding: 10px;
}
.sidebar ul li img:hover {
  transform: scale(1.1); /* Aumenta o tamanho do ícone */
  filter: brightness(1.2); /* Aumenta o brilho do ícone */
}

/* Estilo dos links dos itens de menu */
.sidebar ul li a {
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
}

/* Estilo quando o link do item de menu é hover */
.sidebar ul li a:hover {
  background-color: #555; /* Cor de fundo quando hover */
}
.notification-container {
  position: relative;
}

.notification-icon {
  width: 40px;
  position: absolute;
  left: 25px;
  top: 195px;
}

.notification-badge {
  position: absolute;
  top: 190px;
  right: 19px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
