/* Estilo da barra lateral */
.sidebar2 {
  width: 120px; /* Largura da barra lateral */
  height: 100%; /* Altura total */
  position: fixed; /* Fixa a barra lateral na posição */
  top: 0;
  left: 0;
  padding-top: 20px; /* Espaçamento superior */
}
/* Estilo da segunda barra lateral (direita) */
.sidebar2-right {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100px; /* Ajusta a posição para que fique ao lado da primeira sidebar */
  background-color: #f0f0f0;
  padding-top: 20px;
}

/* Estilo da lista de itens de menu */
.sidebar2 ul {
  list-style-type: none; /* Remove marcadores de lista */
  padding: 0;
}

/* Estilo dos itens de menu */
.sidebar2 ul li {
  padding: 10px;
}

/* Estilo dos links dos itens de menu */
.sidebar ul li a {
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
}

/* Estilo quando o link do item de menu é hover */
.sidebar ul li a:hover {
  background-color: #555; /* Cor de fundo quando hover */
}
.sidebar2-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #fff;
}

.sidebar2-header h2 {
  margin-left: 10px;
  font-family: Roboto;
  font-weight: bold;
}

.message-count {
  border-radius: 100%;
  background-color: #c9c7c7;
  padding: 7px;
}
