.whatsapp-card {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  background-color: #f3f3f3; /* Cor de fundo do card */
  border-radius: 30px;
  width: 270px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.message {
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.message span {
  color: gray;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details p {
  margin: 0;
}
.details span {
  color: gray;
  font-family: "Roboto";
  font-size: 15px;
}

.details p:first-child {
  font-weight: bold;
}
