.containerPsycho {
  display: flex;
  flex-wrap: wrap; /* Permite que os cartões quebrem para a linha seguinte se não houver espaço */
  justify-content: center; /* Centraliza os cartões no container */
  gap: 30px; /* Adiciona espaçamento entre os cartões */
  margin-left: 100px;
}

.cardPsycho {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 250px; /* Define uma largura fixa para os cartões */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total do cartão */
}

.cardPsycho img {
  width: 120px;
  height: 120px;
  border-radius: 50%; /* Atualiza para círculo perfeito */
  align-self: center;
}

.cardPsychoHeader {
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px 0;
}

.cardPsychoHeader .title {
  color: #3c3c43;
  margin: 0;
  font-size: 1.2rem;
}

.cardPsychoHeader .subtitle {
  color: #81859e;
  font-size: 0.9rem;
}

.cardPsychoDesc {
  color: #666666;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.cardPsychoBtn {
  color: #ffffff;
  background-color: #5d5fef;
  border: 0;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
